[Desktop Entry]
Version=1.0
Type=Link
Name=pr3
Comment=
Icon=user-bookmarks
URL=file:///home/KHPK.RU/student/%D0%A0%D0%B0%D0%B1%D0%BE%D1%87%D0%B8%D0%B9%20%D1%81%D1%82%D0%BE%D0%BB/gfh/prr3.py
